@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #f7f7f7;
}



@layer components {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .btn-primary {
    @apply border text-white bg-primary hover:border-primary hover:bg-white hover:text-primary rounded-md px-3 py-2 text-sm lg:px-4 font-semibold cursor-pointer;
  }

  .btn-secondary {
    @apply border text-white bg-secondary hover:border-secondary hover:bg-white hover:text-secondary rounded-md px-3 py-2 text-sm lg:px-4 font-semibold cursor-pointer;
  }

  .btn-red {
    @apply border bg-red-500 text-white hover:border-red-600 hover:text-red-600 hover:bg-white rounded-md px-3 py-2 text-sm lg:px-4 font-semibold cursor-pointer;
  }

  .card-shadow {
    box-shadow: 0px 4px 16px rgba(17, 17, 26, 0.1), 0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1);
  }

  .pagination-btn-primary {
    @apply border text-white bg-primary rounded-md px-3 py-2 text-sm lg:text-base font-semibold cursor-pointer;
  }

  .pagination-btn-secondary {
    @apply border text-white bg-secondary rounded-md px-3 py-2 text-sm lg:text-base font-semibold cursor-pointer;
  }
}